---
import Page from "../components/ui/page.astro"
import Link from "../components/ui/link.astro"
---
<Page>
    <h1 class="text-5xl">What is Enshittification?</h1>
    <br>
    <p>
        Enshittification is the pattern where online products and services decline in quality.
        These platforms start with high quality offerings, but in the pursuit of growth and profit, 
        they transition into paid model, designed for the buisnesses that use their tools.
    </p>
    <br>
    <p>
        For example, google <Link href="https://letmegooglethat.com/?q=qr+code+generator" >"qr code generator"</Link>.
        how many features are locked behind "log in or make a account"? would you pay a subscription for a qr code generator?

        this doesn't just occur on the web, but also in the physical compaines of the world. read more about <Link href="https://en.wikipedia.org/wiki/Enshittification#Examples" >these examples here</Link>.

        Enshittification doesn't occur from a developer or designer, but from the buisnesses that own the product or service.
    </p>
    <br>
    <p>More Information</p>
    <ul class="list-disc pl-8">
        <li><Link label="Youtube" href="https://www.youtube.com/watch?v=4EmstuO0Em8"/></li>
        <li><Link label="Wikipedia" href="https://en.wikipedia.org/wiki/Enshittification"</li>
    </ul>
</Page>