 <div>
  <h1 class="text-7xl">Plain</h1>
  <p class="text-3xl">What is plain?</p>
  <p>
    Plain is a attempt at a solution for the pain and suffering from
    enshittification of the web. <a class="text-blue-600 underline hover:text-blue-900" href="https://www.youtube.com/watch?v=4EmstuO0Em8"
      >What is enshittification?</a
    >
  </p>

  <p>
    Plain Aims to provide a list of links to deshittified tools, while also
    providing some.
  </p>

  <h2><a class="text-blue-600 underline hover:text-blue-900" href="links">List of Links</a></h2>

  <h2><a class="text-blue-600 underline hover:text-blue-900" href="request">Request a tool</a></h2>
</div>

<style>
</style>