---
import Link from "../components/Link.astro"
---
<div>
    <h1>List of Links</h1>
    <p>lots of links to better tools.</p>
    <ul>
	    <Link title="Colbalt" href="https://cobalt.tools/" description="download tool for video, audio, photos or gifs" />
        
    </ul>
</div>