---
import Page from "../components/ui/page.astro"
import ListLink from "../components/ListLink.astro"
import Link from "../components/ui/link.astro"
---
<Page>
    <h1 class="text-5xl">List of ListLinks</h1>
    <p>lots of links to better tools.</p>
    <div class="ml-32">
    <ul class="list-disc">
	    <ListLink title="Colbalt" href="https://cobalt.tools/" description="download tool for video, audio, photos or gifs" />
        <ListLink title="Bibify" href="https://www.bibify.org/" description="minimal bibliography generator" />
        <ListLink title="MyBib" href="https://www.mybib.com/" description="free bibliography generator" />
        
    </ul>
    </div>
    <p>Have a idea or tool you want or have to add? do <Link href="request">that here</Link>.</p>
</Page>