---
import Contribution from "../components/forms/contribution.astro";
import Wishlist from "../components/forms/wishlist.astro";
---

<div class="space-y-5">
  <div class="max-w-2xl mx-auto p-6 bg-white shadow-md rounded-lg space-y-6">
    <h1 class="text-4xl font-bold text-gray-800">Request a Tool</h1>
    <p class="text-lg text-gray-600">I want to...</p>

    <div class="space-y-4">
        <div class="flex items-center space-x-3">
            <input 
                type="radio" 
                id="wishlist-form" 
                name="action" 
                value="request" 
                class="w-5 h-5 text-blue-600 border-gray-300 focus:ring-blue-500"
            />
            <label 
                for="wishlist-form" 
                class="text-gray-700 text-lg font-medium"
            >
                Request a tool I would like
            </label>
        </div>

        <div class="flex items-center space-x-3">
            <input 
                type="radio" 
                id="contribute-form" 
                name="action" 
                value="submit" 
                class="w-5 h-5 text-blue-600 border-gray-300 focus:ring-blue-500"
            />
            <label 
                for="contribute-form" 
                class="text-gray-700 text-lg font-medium"
            >
                Submit a tool I have found / made
            </label>
        </div>
    </div>

    <p class="unselected text-gray-500 italic">Select an option above to begin</p>
</div>

  <!-- Requesting a tool form -->
  <div id="wishlist" style="display: none;">
    <Wishlist />
  </div>

  <!-- Submitting a tool form -->
  <div id="contribution" style="display:none" >
    <Contribution />
  </div>
</div>

<script>
  // multi form managment

  // inital unselected message
  const unselectedMessage = document.querySelector(".unselected");
  // form elements
  const wishlist = document.getElementById("wishlist");
  const contribution = document.getElementById("contribution");

  // handles showing form based on radio button selection
  const wishlistForm = document.getElementById("wishlist-form");
  const contributeForm = document.getElementById("contribute-form");

  contributeForm?.addEventListener("click", (e) => {
    unselectedMessage.style.display = "none"; // remove unselected message
    wishlist.style.display = "none";
    contribution.style.display = "block";
  });

  wishlistForm?.addEventListener("click", (e) => {
    unselectedMessage.style.display = "none"; // remove unselected message
    wishlist.style.display = "block";
    contribution.style.display = "none";
  });
</script>
