<!-- UI Component- makes a centered page in the screen that is easier to look at. -->
<div class="w-screen h-full flex items-center justify-center">
    <div class="sm:w-3/5 max-w-[48rem] h-fit bg-gray-200 rounded-lg shadow-lg">
        <div class="m-5">
            <slot />
        </div>
    </div>  
</div>